html {
  box-sizing: border-box;
}
.skip a {
    background: white;
    left: 0;
    padding: 6px;
    top: -40px;
    position: relative;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  grid-column: 1 / auto;
  grid-row: 1 / auto;
  align-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav {
    grid-column: 1 / auto;
    grid-row: 2 / auto;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.nav-links{
  display: inline;
  text-align: center;
}

.nav span {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav li {
    display: inline-block;
    padding-right: 7.5px;
    padding-left: 7.5px;
}



/* this was from an outside source, how to source? */
span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 3px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 105%;
  transition: 0s;
}

span.current {

    text-decoration: underline;

}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.item {
    width: 90%;
    height: auto;
    box-shadow: 0px 0px 10px 2px #E1E1E1;
    margin: auto;
    margin-bottom: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
}

.flex-container {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    grid-column: 1 / auto;
    grid-row: 3 / auto;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.contact{
    background-color: #c9ccd4;
    padding-top:10px;

}

.parallax {
    background-image: url(../img/me2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vw;
}


.parallax2 {
    background-image: url(../img/travel/surf.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vw;
}

.parallax3 {
    background-image: url(../img/people/boat.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vw;
}

.parallax4 {
    background-image: url(../img/film/blur.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vw;
}

/* .about-me {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr;
} */
.about {
  padding-top: 75px;
  text-align: center;
  color: white;
  margin: 20px;
}
.greeting {
  font-style: bold;
}

.menu-item {
  font-size: 30px;
}

.nav2 {
  padding-top: 60px;
  text-align: center;
  color: white;
  margin: 20px;
}



@media screen and (min-width: 800px){
  .nav {
      grid-column-start: 2;
      grid-row-start: 1;
      justify-self: right;
      align-self: center;
  }

  .logo {
      grid-column-start: 2;
      grid-row: 1;
      justify-self: left;
      align-self: center;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.flex-container {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    grid-column-start: 2;
    grid-row-start: 2;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-content: center;
    margin-bottom: 40px;
}

.item {
    width: 48%;
    height: auto;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px 2px #E1E1E1;
    object-fit: cover;
}

.me {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  box-shadow: 0px 0px 10px 2px #E1E1E1;
  object-fit: cover;
}

.parallax {
    width: 60vw;
}


}
