html {
  box-sizing: border-box;
}
.skip a {
    background: white;
    left: 0;
    padding: 6px;
    top: -40px;
    position: relative;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  padding-left: 15px;
  align-content: center;
}

.nav {
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.nav-links{
  display: inline;
  text-align: center;
}

.nav span {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.nav li {
    display: inline-block;
    padding-right: 15px;
}

/* this was from an outside source, how to source? */
span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 3px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 105%;
  transition: 0s;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
/* .nav-item:hover {
  text-decoration: line-through;

} */
/* .nav-item-2:hover ~ hr{
  margin-left: 25%;
}

.nav-item-3:hover ~ hr{
  margin-left: 50%;
}

.nav-item-4:hover ~ hr{
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
} */

.item {
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 10px 2px #E1E1E1;
    margin: auto;
    margin-bottom: 15px;
}

.flex-container {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 800px){
  .nav {
      grid-column-start: 2;
      grid-row-start: 1;
      justify-self: right;
      align-self: center;
  }

  .logo {
      grid-column-start: 2;
      grid-row: 1;
      justify-self: left;
      align-self: center;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.flex-container {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    grid-column-start: 2;
    grid-row-start: 2;
    -webkit-box-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    align-content: center;
    margin-bottom: 40px;
}



.item {
    width: 48%;
    height: auto;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px 2px #E1E1E1;
    object-fit: cover;
}
}
