#portfolio,
#about,
#contact {
    color: #2c3857
    padding-top: 5em;
    padding-bottom: 5em;

}


/*navigation*/

.navbackground {
    background-color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    /*    disable the button border*/
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-brand {
    color: black;
    padding-top: 0;
    font-family: 'Merriweather', serif;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-size: 1.2em;
    font-family: 'Merriweather', serif;

}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: dodgerblue;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: dodgerblue;
}


/* The active link, when scroll to the section, the menu items will turn to different color */

.navbar-light a.active {
    color: dodgerblue !important;
    /*    background-color: #55555a !important;*/
}
